__pycache__/
*.py[cod]
*$py.class
.env
.env.*
venv/
.venv/
.Python
build/
dist/
.eggs/
*.egg-info/
node_modules/
.coverage
pytest_cache/
.idea/
.vscode/
.DS_Store
.git
.gitignore
infra/docker/huggingface_token.txt
infra/docker/.env.local
